%table
	%thead
		%tr
			%th IP address
			%th DNS Name
			%th Lookup
			%th Reverse lookup
			%th Host
			%th Cidr
			%th Free
			%th Ping
			%th
	%tbody
		- for ip_address in ip_addresses
			= render(ip_address)

