- title "Cidrs"
- javascript 'prototype'

%table
	%thead
		%tr
			%th{:style => 'width: 10px;'}
			%th{:style => 'width: 10px;'}
			%th Cidr
			%th Name
			%th IPs
			%th Free IPs
	%tbody{:id => :cidrs}
		= render @cidrs

%p= link_to "New Cidr", new_cidr_path
